#texto {
   font-style: italic;
   width: 800px;
   margin:auto;
        }
     
 .pos{
   top: 0;         
      }
      
 .style{
   font-style: oblique;
   font-weight: bold;
         }
  #pos{
   right:0;
   float:right;
   bottom:0;
         }
  td, th{
       border: 2px solid black;
         }
  .divpos{
       margin: 20px;
       width: 350px;
                       }
  #frmstyle{
       margin: 30px;
       
  }
  .divpolateral{
      position:relative;
      width: 250px;
            
  }
  .classpos{
      float:left;
      margin-top:0px;
              }
  .arq{
      width:600px;
      margin-left:20px;
    }
    .postext{
        margin:20px;
            }  
     .labelstyle1{
         width:101px;
         display:block;
         float: left;
     }
      .labelstyle2{
         width:101px;
         display:block;
         float: left;
            } 
       .labelstyle3{
         width:101px;
         display:block;
         float: left;
            }       