#texto {
   font-style: italic;
   width: 800px;
   margin:auto;
        }
     
 .pos{
   top: 0;         
      }
      
 .style{
   font-style: oblique;
   font-weight: bold;
         }
  #pos{
   right:0;
   float:right;
   bottom:0;
         }
  td, th{
       border: 2px solid black;
         }
  