/* 
    Document   : lista
    Created on : Aug 30, 2011, 2:28:02 PM
    Author     : mastop
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

