.blue a,
.blue a:visited{
    color: blue;
    }
.orange a,
.orange a:visited{
    color: orange;
    }
.green a,
.green a:visited{
    color: green;
    }
#blue {
    width: 200px;
    height: 100px;
    background-color: blue;
    position: absolute; 
}
.blue a, 
.blue a:visited{
    color: blue;
    }
.orange a, 
.orange a:visited{
    color: orange;
    }
#green {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute; 
}