.esqcima{
    position: absolute; 
    width: 100px; 
    height: 100px; 
    background-color: red;
    top: 0pt;
    left: 0pt
}
.esqbaixo{
    float: left;
    width: 100px;
    height: 100px;
    background-color: green; 
    position: absolute; 
    bottom: 0pt;
    left: 0pt;
}
.dircima{
    float: right; 
    background-color: yellow; 
    width: 100px;
    height: 100px; 
    right: 0pt;
    top: 0pt;
    position: absolute;
}
.green{
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
}
